@import url('https://fonts.googleapis.com/css?family=Pirata+One|Aclonica');
@import "../../mixins.scss";

body{
    background:#212121;
    overflow-y: hidden;
}
.conteudo{
    border:none;
    box-shadow:none;
    width:90%;
    max-width:700px;
    margin:auto;
} 
button.btn{
    margin:auto;display:block;margin-bottom:40px;font-size:26pt;background:#a1887f;border:none;border-radius:15px;font-family:'Pirata One', sans;color:white;font-size:18pt
}
.pirate{
    main{
        padding:20px;
    }
    p{
        border: {
            top:6px solid #fff59d;
            bottom:6px solid #fff59d;
        }
    
    }
    h1{

    font-family:'Pirata One';
    }
    overflow-y: visible; 
    background-image:url("../img/madeira.jpg"); 
}
figure{
    .imagem{
        @include circle(300px,300px);
        display:block;
        margin:auto;
    }
}
p{
    background:url("../img/papire.jpg");
    padding:20px;
    color:#6d4c41;
    border-radius:2px;
    box-shadow:0px 0px 3px black;
    font-size:16pt;    
    text-align: justify;
    font-family: 'Aclonica', serif;
}
